body{
	height: auto;
	background: red;
	font-family: 'Passion One', cursive;
	margin: 0 auto;
}

.wrapper{
	margin: 0 auto;
	text-align: center;
	width: 70%;
}
h1{
	text-align: center;
	width: 20%;
	margin: 0 auto;
}
.number{
	min-height: 600px;
	width: 50%;
	background: gray;
	margin: 0 auto;
	border-radius: 4px 4px 4px;
	display: none;
    margin: 2% auto 0;
    padding: 10px;
    border: 1px solid black;
    text-align: center;

}
button{
	width: 17em;
	height: 5em;
	border-radius: 10px 10px 10px;
	border: 1px solid black;
	
}
button.restart{
	position: relative;
	margin: 0 auto;
	width: 20%;
	text-align: center;

}
input{
	border-radius: 10px 10px 10px;
	padding: 20px;
	margin-top: 250px;
	border: 1px solid black;
}
footer{
	margin: 0 auto;
	width: 20%;
	text-align: center;
	padding-top: 20px;
}

ul{
    list-style-type: none;
    width: 92%;

}
li{
	width: 20%;
	font-size: 20px;
	margin: 0 auto;
}
